<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728300584033-24oet3nbvv6pvka9ma2r5h1pb8laitg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728300584033-24oet3nbvv6pvka9ma2r5h1pb8laitg5</string>
	<key>API_KEY</key>
	<string>AIzaSyBngD-ugcbQ1Wda6a_QqCEXKkXm514TGSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>728300584033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patzimo.therappeut</string>
	<key>PROJECT_ID</key>
	<string>iamphysiotherappy-17757</string>
	<key>STORAGE_BUCKET</key>
	<string>iamphysiotherappy-17757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:728300584033:ios:5dce5b91f4371bb2c53e20</string>
	<key>DATABASE_URL</key>
	<string>https://iamphysiotherappy-17757.firebaseio.com</string>
</dict>
</plist>
